* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(64px * 8);
  height: calc(64px * 8);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
}

.cell img {
  position: relative;
  width: 48px;
  height: 48px;
}

.black {
  background-color: rgb(177 98 3);
}

.white {
  background-color: rgb(245 177 50);
}

.selected {
  background-color: brown;
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(29 189 29);
}

.lost {
  margin-left: 50px;
  height: calc(50vh - 60px);
  padding: 30px;
  background-color: lightgray;
}

.lost img {
  width: 20px;
  height: 20px;
}
